<nav class="navbar navbar-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a

                class="nav-link"
                routerLinkActive="active text-primary"
                (click)="home()"
              >
                <b> Acceuil</b>
              </a>
            </li>





              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>
<section class="bg-light" id="ajouter">
  <div style="background-color: bg-info"  >
    <div class="container" >
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">Partenaire</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
              <form #monFormulaire="ngForm">
                  <div class="form-row">
                      <div class="col-md-6">


                          <div class="form-group">
                            <label> Référence:</label>
                            <input ngModel class="form-control" type="text" id="ref"  name="ref" placeholder="reference*" required [(ngModel)]="externeAdd.ref" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                            <div class="form-group">
                              <label> Nom:</label>
                              <input ngModel class="form-control" type="text" id="nom"  name="nom" placeholder="nom *" required [(ngModel)]="externeAdd.nom" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                              <div class="form-group">
                                <label> Prenom:</label>
                                <input ngModel class="form-control" type="text" id="prenom"  name="prenom" placeholder="prenom*" required [(ngModel)]="externeAdd.prenom" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                                <div class="form-group">
                                  <label> Telephone:</label>
                                  <input ngModel class="form-control" type="text" id="telephone"  name="telephone" placeholder="telephone*" required [(ngModel)]="externeAdd.tel" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                  <div class="form-group">
                                    <label> email:</label>
                                    <input ngModel class="form-control" type="text" id="email"  name="email" placeholder="email*" required [(ngModel)]="externeAdd.email" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
</div>
<div class="col-md-6">
                                  <div class="form-group">
                                  <label> Intervenant:</label>
                                  <input ngModel class="form-control" type="text" id="intervenant"  name="intervenant" placeholder="intervenant*" required [(ngModel)]="externeAdd.intervenant" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                                <div class="form-group">
                                  <label> Raison Sociale:</label>
                                  <input ngModel class="form-control" type="text" id="raisonSocial"  name="raisonSocial" placeholder="raison Social*" required [(ngModel)]="externeAdd.raisonSocial" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                  <div class="form-group">
                                    <label> Responsable:</label>
                                    <input ngModel class="form-control" type="text" id="responsable"  name="responsable" placeholder="responsable*" required [(ngModel)]="externeAdd.responsable" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                    <div class="form-group">
                                      <label> Domaine:</label>
                                      <input ngModel class="form-control" type="text" id="domaine"  name="domaine" placeholder="domaine*" required [(ngModel)]="externeAdd.domaine" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                                              <div class="form-group">
                                                <iframe [src]= "charte" width="50%" height="250px"> </iframe>
                            </div>
                                                      <div>
                                                                    <input type="checkbox" id="charte" name="charte" value="externeAdd.charte"  required  [(ngModel)]="externeAdd.charte">
                                                                    <label for="charte">Signature </label>
                                                                  </div>

                          </div>





                      <div class="clearfix"></div>
                      <div class="col-lg-12 text-center">
                          <div id="success"></div>
                          <button
                          [disabled]="monFormulaire.invalid"

                          (click)="createExterne()"
                           class="btn btn-warning text-uppercase" type="submit">Ajouter</button>

                           <button
                           (click)="Annuler()"
                           class="btn btn-warning  text-uppercase" type="submit">Annuler</button>
                      </div>
                    </div>
              </form>
          </div>
      </div>
    </div>
    </div>


</section>



