<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>
<p></p>
<p></p>
<p></p>
<p></p><p></p>
<p></p>
<p></p>
<p></p>
<div >
    <div class="container" >
      <div class="row">
          <div class="col-lg-12 text-center">
              <h1 class="text-uppercase section-heading">Autorisation de l'autorisation de l'actif </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <form #monFormulaire="ngForm">
                <div class="form-row">
                  <div class="col-md-6">

<h2> La Demande</h2>
                    <div class="form-group">
                      <label> Référence d'actif:</label>
                      <input ngModel class="form-control" type="text" id="actif"  name="actif" placeholder="actif*"disabled="true" [(ngModel)]="autorisationAdd.actif.reference" value={{autorisationAdd.actif.reference}} /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                      <div class="form-group">
                        <label> Agent Matricule:</label>
                        <input ngModel class="form-control" type="text" id="nom"  name="nom" placeholder="votre nom*" disabled="true"   [(ngModel)]="autorisationAdd.user.username" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>


                        <div class="form-group">
                          <label> Lieu d'affectation:</label>
                          <input ngModel class="form-control" type="text" id="lieuAffectation" disabled="true"  name="tlieuAffectation" placeholder="lieu Affectation*" required [(ngModel)]="autorisationAdd.lieuAffectation" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                          <div class="form-group">
                            <label> Date du demande:</label>
                            <input ngModel class="form-control" type="text" id="Date" disabled="true" name="Date" placeholder="Date*"  [(ngModel)]="autorisationAdd.Date" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                          <div class="form-group" *ngIf="autorisationAdd.Definitive != '' ">
                            <label> Utilisation Définitive:</label>
                            <input ngModel class="form-control" type="text" disabled="true" id="Definitive"  name="Definitive" placeholder="Definitive*" [(ngModel)]="autorisationAdd.Definitive" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                            <div class="form-group" *ngIf="autorisationAdd.temporaireDe != ''">
                              <label> Utilisation Temporaire De:</label>
                              <input ngModel class="form-control" type="text" disabled="true" id="temporaireDe"  name="temporaireDe" placeholder="temporaireDe*"  [(ngModel)]="autorisationAdd.temporaireDe" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                              <div class="form-group" *ngIf="autorisationAdd.temporaireAu != ''">
                                <label> Utilisation Temporaire Au:</label>
                                <input ngModel class="form-control" type="text" disabled="true" id="temporaireAu"  name="temporaireAu" placeholder="temporaireAu*" required [(ngModel)]="autorisationAdd.temporaireAu" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>


                    </div>

                    <div class="col-md-6">
<h2> Autorisation du Responsable</h2>

                      <div class="form-group">
                        <label> Date De confirmation:</label>
                        <input ngModel class="form-control" type="Date" id="DateOK"  name="DateOK" placeholder="DateOK*" required [(ngModel)]="autorisationAdd.DateOK" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                        <div class="form-group">
                          <label> Votre Matricule:</label>
                          <input ngModel class="form-control" type="text" disabled="true" id="nom"  name="nom" placeholder="votre nom*" required value="userR" [(ngModel)]="autorisationAdd.user.username" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>


                          <div>
                            <input type="checkbox" id="internet" name="internet"   required [(ngModel)]="autorisationAdd.internet">
                            <label for="internet">A besoin d’un accès Internet </label>
                          </div>
                          <div>
                            <input type="checkbox" id="reseau" name="reseau"   required [(ngModel)]="autorisationAdd.reseau">
                            <label for="reseau">A besoin d’un accès réseau </label>
                          </div>
                          <div>
                            <input type="checkbox" id="verif" name="verif"   required [(ngModel)]="autorisationAdd.verif">
                            <label for="verif">Vérification de la compatibilité et de la conformité technique. </label>
                          </div>
                           <div>
                            <input type="checkbox" id="verif1" name="verif1"   required [(ngModel)]="autorisationAdd.verif1">
                            <label for="verif1">Vérification de la conformité avec les exigences de sécurité de l’information (Antivirus, Firewall,...)</label>
                          </div>

                          <div>
                            <input type="checkbox" id="verif2" name="verif2"   required [(ngModel)]="autorisationAdd.verif2">
                            <label for="verif2">A signer l’engagement de confidentialité et la charte de bon usage des moyens IT </label>
                          </div>
                          <div>

                            <input type="checkbox" id="signature" name="signature"   required [(ngModel)]="autorisationAdd.signature">
                            <label> Votre Confirmation (signature):</label>
                          </div>

                      </div>

                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <button

                        (click)="processForm()"

                         class="btn btn-warning btn-xl text-uppercase" type="submit">Modifier</button>
                         <button
                         (click)="Annuler()"
                         class="btn btn-warning btn-xl text-uppercase" type="submit">Annuler</button>
                    </div>
                  </div>
            </form>
          </div>
      </div>
    </div>
    </div>



