<nav class="navbar navbar-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a

                class="nav-link"
                routerLinkActive="active text-primary"
                (click)="home()"
              >
                <b> Acceuil</b>
              </a>
            </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/perimetre#list">Nos Perimetre</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/perimetre#ajouter">Ajout Perimetre</a></li>
              <li class="nav-item"></li>


              <li class="nav-item">
                <a
                  *ngIf="authService.isAuthenticated()"
                  class="nav-link"
                  routerLinkActive="active text-primary"
                  (click)="logout()"
                >
                  <b> Logout</b>
                </a>
              </li>
              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>



  <!-- team section -->
  <section class="bg-light" id="list">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Liste Des Perimetre</h2>
            </div>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <div class="col-lg-12">
              <input ngModel class="form-control" type="text" id="id"  name="id" placeholder="id *" required [(ngModel)]="id" (keyup)="Recherche()"/><small class="form-text text-danger flex-grow-1 help-block lead"></small>

              <table class="table table-bordered table-striped mb-0" id='perimetre' >
                <thead class="thead-dark" type="color" value="#123456" >
                    <tr >
                        <th>ID</th>
                        <th>Nom</th>
                        <th>controle Acces </th>
                        <th>criticite CID</th>
                        <th>Site</th>
                        <th>Traitement</th>



                    </tr>
                </thead>
                <tr *ngFor="let perimetre of perimetres ">
                    <th>{{perimetre.id}}</th>
                    <th>{{perimetre.nom}}</th>
                    <th>{{perimetre.controleAcces}}</th>
                    <th>{{perimetre.criticiteCID}}</th>
                    <th>{{perimetre.site}} </th>

                    <th>
                      <button   type="button" class="btn btn-outline-secondary" [routerLink]="['/updatePerimetre',perimetre.id]"> update</button>
                      <button type="button" class="btn btn-outline-secondary" (click)="deletePerimetre(perimetre.id)"> delete</button>
                  </th>

                </tr>
            </table>

            </div>
        </div>
      </div>
      </div>


  </section>

  <section class="bg-light" id="ajouter">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Ajouter un perimetre</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <form #monFormulaire="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">


                            <div class="form-group">
                              <label> Perimetre:</label>
                                <input ngModel class="form-control" type="text" id="nom"  name="nom" placeholder="nom du perimetre*" required [(ngModel)]="perimetreAdd.nom" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                <div class="form-group">
                                  <label> Site:</label>
                                  <input ngModel class="form-control" type="text" id="site"  name="site" placeholder="site du perimetre*" required [(ngModel)]="perimetreAdd.site" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                                <div class="form-group">
                                  <label> Controle D'acces:</label>
                                  <input ngModel class="form-control" type="text" id="controleAcces"  name="controleAcces" placeholder="controle d'acces du perimetre*" required [(ngModel)]="perimetreAdd.controleAcces" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                       <div class="form-group">
                                        <label> Mesure De Sécurité:</label>
                                      <textarea ngModel class="form-control" type="text" id="mesureSecurite"  name="mesureSecurite" placeholder="mesure de securite du perimetre*" required [(ngModel)]="perimetreAdd.mesureSecurite" ><small class="form-text text-danger flex-grow-1 help-block lead"></small> </textarea></div>


                                     <div class="form-group">
                                    <label> Criticite CID:</label>
                                    <input ngModel class="form-control" type="text" id="criticiteCID"  name="criticiteCID" placeholder="criticite CID du perimetre*" required [(ngModel)]="perimetreAdd.criticiteCID" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                                    <div class="form-group">
                                      <label> Propriétaire:</label>


                                      <mat-select  ngModel class="form-control" name="proprietaire" required [(ngModel)]="perimetreAdd.proprietaire" id="proprietaire" >

                                        <mat-option *ngFor="let user of users" value={{user.username}}> {{user.username}} {{user.prenom}}{{user.nom}}</mat-option>
                                       </mat-select>


                                       <small class="form-text text-danger help-block lead"></small></div>


                            </div>





                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button

                            [disabled]="monFormulaire.invalid"
                            (click)="createPerimetre()"
                             class="btn btn-warning  text-uppercase" type="submit">Ajouter</button>

                             <button
                             (click)="Annuler()"
                             class="btn btn-warning text-uppercase" type="submit">Annuler</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
      </div>
      </div>


  </section>


