
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>



  <!-- team section -->
  <section class="bg-light" id="list">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Liste Des Actifs</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <table class="table" id='actif' >
                <thead class="thead-dark" type="color" value="#123456" >
                    <tr >
                        <th>Référence</th>
                        <th>Nom</th>
                        <th>Type </th>
                        <th>Adresse IP</th>
                        <th>Retirer</th>





                    </tr>
                </thead>
                <tr *ngFor="let actif of actifs ">
                    <th>{{actif.reference}}</th>
                    <th>{{actif.nom}}</th>
                    <th>{{actif.type}}</th>
                    <th>{{actif.adresseIP}}</th>

                    <th>
                      <button type="button" class="btn btn-outline-secondary" (click)="deleteActif(actif.id)">Supprimer</button>
                  </th>


                </tr>
            </table>

            </div>

            <div class="col-lg-12 text-center">
              <div id="success"></div>


               <button
               (click)="Retour()"
               class="btn btn-warning btn-xl text-uppercase" type="submit">Retour</button>
          </div>
        </div>
      </div>
      </div>


  </section>

