<nav class="navbar navbar-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a

                class="nav-link"
                routerLinkActive="active text-primary"
                (click)="home()"
              >
                <b> Acceuil</b>
              </a>
            </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/reunion#list">Reunions</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/reunion#ajouter">Ajout Reunion</a></li>
              <li class="nav-item"></li>


              <li class="nav-item">
                <a
                  *ngIf="authService.isAuthenticated()"
                  class="nav-link"
                  routerLinkActive="active text-primary"
                  (click)="logout()"
                >
                  <b> Logout</b>
                </a>
              </li>
              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>



  <!-- team section -->
  <section class="bg-light" id="list">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Liste Des Reunions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <input ngModel class="form-control" type="text" id="id"  name="id" placeholder="id *" required [(ngModel)]="id" (keyup)="Recherche()"/><small class="form-text text-danger flex-grow-1 help-block lead"></small>
              <table class="table" id='reunion' >
                <thead class="thead-dark" type="color" value="#123456" >
                    <tr >
                        <th>ID</th>
                        <th>Ordre Du Jour</th>
                        <th>Discussion </th>
                        <th>Lieu</th>
                        <th>Date</th>

                        <th>Cellule</th>
                        <th>Traitement</th>



                    </tr>
                </thead>
                <tr *ngFor="let reunion of reunions ">
                    <th>{{reunion.id}}</th>
                    <th>{{reunion.ordreDuJour}}</th>
                    <th>{{reunion.discussion}}</th>
                    <th>{{reunion.lieu}}</th>
                    <th>{{reunion.Date | date}}</th>
                    <th>{{reunion.cellule.id}}</th>

                    <th>
                      <button   type="button" class="btn btn-outline-secondary" [routerLink]="['/updateReunion',reunion.id]">Modifier</button>
                      <button type="button" class="btn btn-outline-secondary" (click)="deleteReunion(reunion.id)">Supprimer</button>
                  </th>

                </tr>
            </table>

            </div>
        </div>
      </div>
      </div>


  </section>

  <section class="bg-light" id="ajouter">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Ajouter un Reunion</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <form #monFormulaire="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">


                            <div class="form-group">
                              <label> Ordre Du Jour:</label>
                              <input ngModel class="form-control" type="text" id="ordreDuJour"  name="ordreDuJour" placeholder="ordre du jour du reunion*" required [(ngModel)]="reunionAdd.ordreDuJour" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                              <div class="form-group">
                                <label> Lieu:</label>
                                <input ngModel class="form-control" type="text" id="lieu"  name="lieu" placeholder="lieu du reunion*" required [(ngModel)]="reunionAdd.lieu" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                              <div class="form-group">
                                <label> Date:</label>
                                <input ngModel class="form-control" type="date" id="date"  name="date" placeholder="date du reunion*" required [(ngModel)]="reunionAdd.Date" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
</div>
<div class="col-md-6">
                              <div class="form-group">
                                <label> Discussion:</label>
                                <textarea ngModel class="form-control" type="text" id="discussion"  name="discussion" placeholder="discussion reunion*" required [(ngModel)]="reunionAdd.discussion" ><small class="form-text text-danger flex-grow-1 help-block lead"></small> </textarea></div>

             <div class="form-group">
                                    <label> Desicion:</label>
                                    <input ngModel class="form-control" type="file" id="desicion"  name="desicion" placeholder="desicion du reunion*" required [(ngModel)]="reunionAdd.decision" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                           <div class="form-group">
                            <label> Cellule:</label>


                            <mat-select  ngModel class="form-control" name="cellule" required [(ngModel)]="reunionAdd.cellule" id="cellule" >

                              <mat-option *ngFor="let cellule of cellules" value={{cellule.id}}> {{cellule.id}} : {{cellule.president.prenom}}{{cellule.president.nom}}</mat-option>
                             </mat-select>

                           <small class="form-text text-danger help-block lead"></small></div> </div>





                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button


                            (click)="createReunion()"
                             class="btn btn-warning  text-uppercase" type="submit">Ajouter</button>

                             <button
                             (click)="Annuler()"
                             class="btn btn-warning  text-uppercase" type="submit">Annuler</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
      </div>
      </div>


  </section>

