<nav class="navbar navbar-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a

                class="nav-link"
                routerLinkActive="active text-primary"
                (click)="home()"
              >
                <b> Acceuil</b>
              </a>
            </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cellule#list">Nos Cellule</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/cellule#ajouter">Ajout Cellule</a></li>
              <li class="nav-item"></li>


              <li class="nav-item">
                <a
                  *ngIf="authService.isAuthenticated()"
                  class="nav-link"
                  routerLinkActive="active text-primary"
                  (click)="logout()"
                >
                  <b> Logout</b>
                </a>
              </li>
              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>



  <!-- team section -->
  <section class="bg-light" id="list">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Liste Des Cellules</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <input ngModel class="form-control" type="text" id="ref"  name="ref" placeholder="reference de cellule" required [(ngModel)]="ref" (keyup)="Rechercher()"/><small class="form-text text-danger flex-grow-1 help-block lead"></small>

              <br>
              <table class="table" id='cellule' >
                <thead class="thead-dark" type="color" value="#123456" >
                    <tr >
                        <th>Référence</th>
                        <th>President</th>
                        <th>Membre 1 </th>
                        <th>Membre 2</th>
                        <th>Traitement</th>



                    </tr>
                </thead>
                <tr *ngFor="let cellule of cellules ">
                    <th>{{cellule.reference}}</th>
                    <th>{{cellule.president.prenom}} {{cellule.president.nom}}</th>
                    <th>{{cellule.membre1.prenom}} {{cellule.membre1.nom}}</th>
                    <th>{{cellule.membre2.prenom}} {{cellule.membre2.nom}}</th>

                    <th>
                      <button   type="button" class="btn btn-outline-secondary" [routerLink]="['/updateCellule',cellule.id]">Modifier</button>
                      <button type="button" class="btn btn-outline-secondary" (click)="deleteCellule(cellule.id)">Supprimer</button>
                  </th>

                </tr>
            </table>

            </div>
        </div>
      </div>
      </div>


  </section>

  <section class="bg-light" id="ajouter">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Ajouter une Cellule</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <form #monFormulaire="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">


                            <div class="form-group">
                              <label> Référence:</label>
                              <input ngModel class="form-control" type="text" id="reference"  name="reference" placeholder="reference de la cellule*" required [(ngModel)]="celluleAdd.reference" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                              <div class="form-group">
                                <label> Président:</label>
                            <select ngModel class="form-control" name="president" required [(ngModel)]="celluleAdd.president" id="president" >
                              <option *ngFor="let user of users"  value={{user.username}}>{{user.username}} : {{user.prenom}} {{user.nom}}</option>
                            </select>
                           <small class="form-text text-danger help-block lead"></small></div>
                           <div class="form-group">
                            <label> Membre:</label>
                            <select ngModel class="form-control" name="membre1" required [(ngModel)]="celluleAdd.membre1" id="membre1" >
                              <option *ngFor="let user of users" value={{user.username}}>{{user.username}} : {{user.prenom}} {{user.nom}}</option>
                            </select>
                           <small class="form-text text-danger help-block lead"></small></div>
                           <div class="form-group">
                            <label> Membre:</label>
                            <select ngModel class="form-control" name="membre2" required [(ngModel)]="celluleAdd.membre2" id="membre2" >
                              <option *ngFor="let user of users" value={{user.username}}>{{user.username}} : {{user.prenom}} {{user.nom}}</option>
                            </select>
                           <small class="form-text text-danger help-block lead"></small></div> </div>





                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button


                            (click)="createCellule()"
                             class="btn btn-warning  text-uppercase" type="submit">Ajouter</button>

                             <button
                             (click)="Annuler()"
                             class="btn btn-warning  text-uppercase" type="submit">Annuler</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
      </div>
      </div>


  </section>
