<nav class="navbar navbar-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a
                *ngIf="authService.isAuthenticated()"
                class="nav-link"
                routerLinkActive="active text-primary"
                (click)="logout()"
              >
                <b> Logout</b>
              </a>
            </li>





              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>

<div class="container mt-2">
  <!--   <div class="card card-block mb-2">
      <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>   -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
        <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
      <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
          <h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
          <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
    </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
        <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
      <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
          <p class="card-text">This is a company that builds websites, web .</p>
    </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
        <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
      <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
          <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
    </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="card card-block">
        <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
      <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
          <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
    </div>
      </div>
    </div>

  </div>

