<nav class="navbar navbar-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a

                class="nav-link"
                routerLinkActive="active text-primary"
                (click)="home()"
              >
                <b> Acceuil</b>
              </a>
            </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/user#list">Personnels</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/user#ajouter">Ajout Personel</a></li>
              <li class="nav-item"></li>


              <li class="nav-item">
                <a
                  *ngIf="authService.isAuthenticated()"
                  class="nav-link"
                  routerLinkActive="active text-primary"
                  (click)="logout()"
                >
                  <b> Logout</b>
                </a>
              </li>
              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>



  <!-- team section -->
  <section class="bg-light" id="list">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Liste Des Personnels</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <table class="table" id='reunion' >
                <thead class="thead-dark" type="color" value="#123456" >
                    <tr >
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prenom </th>
                        <th>Role</th>
                        <th>Direction</th>





                    </tr>
                </thead>
                <tr *ngFor="let personel of personels ">
                    <th>{{personel.matricule}}</th>
                    <th>{{personel.nom}}</th>
                    <th>{{personel.prenom}}</th>
                    <th>{{personel.role}}</th>
                    <th>{{personel.direction}}</th>


                    <th>
                      <button   type="button" class="btn btn-outline-secondary" [routerLink]="['/updateUser',personel.username]"> update</button>
                      <button type="button" class="btn btn-outline-secondary" (click)="deletePersonel(personel.username)"> delete</button>
                  </th>

                </tr>
            </table>

            </div>
        </div>
      </div>
      </div>


  </section>

  <section class="bg-light" id="ajouter">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Ajouter un Personel</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <form #monFormulaire="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">
                          <h4 class="text-uppercase section-heading">cordonnée Sociale</h4>
                          <div class="form-group">
                            <input ngModel class="form-control" type="text" id="username"  name="username" placeholder="username  *" required [(ngModel)]="personelAdd.username" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                          <div class="form-group">
                            <input ngModel class="form-control" type="text" id="nom"  name="nom" placeholder="nom  *" required [(ngModel)]="personelAdd.nom" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                            <div class="form-group">
                            <input ngModel class="form-control" type="text" id="prenom" name="prenom"  placeholder="prenom *"  required [(ngModel)]="personelAdd.prenom" /><small class="form-text text-danger help-block lead"></small></div>

                             <div class="form-group">
                              <input ngModel class="form-control" type="text" id="sexe" name="sexe"  placeholder="sexe *" required [(ngModel)]="personelAdd.sexe" /><small class="form-text text-danger help-block lead"></small></div>
                              <div class="form-group">
                                  <input ngModel class="form-control" type="text" id="adresse" name="adresse"  placeholder="adresse *" required [(ngModel)]="personelAdd.adresse" /><small class="form-text text-danger help-block lead"></small></div>

                              <div class="form-group">
                                <input ngModel class="form-control" type="text" id="cin" name="cin"  placeholder="cin  *" required [(ngModel)]="personelAdd.cin" /><small class="form-text text-danger help-block lead"></small></div>

                                <div class="form-group">
                                  <input ngModel class="form-control" type="text" id="email" name="email"  placeholder="email  *" required [(ngModel)]="personelAdd.email" /><small class="form-text text-danger help-block lead"></small></div>



                              </div>

                      <div class="col-md-6">
                        <h4 class="text-uppercase section-heading">cordonnée professionel</h4>


                           <div class="form-group">
<form>
                                  <select ngModel class="form-control"  id="role" name="role"  placeholder="role  *" required [(ngModel)]="personelAdd.role">
                                    <option value="">--choisir un role--</option>
                                    <option>responsable </option>
                                    <option>agent</option>

                                    </select>
                                  </form>
                                  </div>
                                  <div class="form-group">
                                      <input ngModel class="form-control" type="text" id="password" name="password"  placeholder="password  *" required [(ngModel)]="personelAdd.password" /><small class="form-text text-danger help-block lead"></small></div>
                                      <div class="form-group">
                                        <input ngModel class="form-control" type="text" id="site" name="site"  placeholder="site  *" required [(ngModel)]="personelAdd.site" /><small class="form-text text-danger help-block lead"></small></div>

                                        <div class="form-group">
                                          <input ngModel class="form-control" type="text" id="direction" name="direction"  placeholder="direction  *" required [(ngModel)]="personelAdd.direction" /><small class="form-text text-danger help-block lead"></small></div>
                                     <div>
                                                <input type="checkbox" id="teletravail" name="teletravail" value="personelAdd.teletravail"  required  [(ngModel)]="personelAdd.teletravail">
                                                <label for="teletravail">c'est un télé travailleur ?</label>
                                              </div>
                                              <div>
                                                    <input type="checkbox" id="sortie" name="sortie" value="personelAdd.sortie"  required [(ngModel)]="personelAdd.sortie">
                                                    <label for="sortie">Est ce qu'il existe encore ?</label>
                                                  </div>

                                                </div>





                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button


                            (click)="createPersonel()"
                             class="btn btn-warning btn-xl text-uppercase" type="submit">Ajouter</button>

                             <button
                             (click)="Annuler()"
                             class="btn btn-warning btn-xl text-uppercase" type="submit">Annuler</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
      </div>
      </div>


  </section>

