<nav class="navbar navbar-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
            <li class="nav-item">
              <a

                class="nav-link"
                routerLinkActive="active text-primary"
                (click)="home()"
              >
                <b> Acceuil</b>
              </a>
            </li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/rapport#list">Rapports</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/rapport#ajouter">Ajout Rapport</a></li>
              <li class="nav-item"></li>


              <li class="nav-item">
                <a
                  *ngIf="authService.isAuthenticated()"
                  class="nav-link"
                  routerLinkActive="active text-primary"
                  (click)="logout()"
                >
                  <b> Logout</b>
                </a>
              </li>
              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/image_news_get.png');">

  <div class="container">
      <div class="intro-text">


   </div>
  </div>
</header>



  <!-- team section -->
  <section class="bg-light" id="list">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Liste Des Rapports</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <input ngModel class="form-control" type="text" id="id"  name="id" placeholder="id *" required [(ngModel)]="id" (keyup)="Recherche()"/><small class="form-text text-danger flex-grow-1 help-block lead"></small>

              <table class="table" id='rapport' >
                <thead class="thead-dark" type="color" value="#123456" >
                    <tr >
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Type </th>
                        <th>Sujet</th>
                        <th>Date</th>
                        <th>Traitement</th>





                    </tr>
                </thead>
                <tr *ngFor="let rapport of rapports ">
                    <th>{{rapport.id}}</th>
                    <th>{{rapport.titre}}</th>
                    <th>{{rapport.type}}</th>
                    <th>{{rapport.sujet}}</th>
                    <th>{{rapport.Date | date}}</th>


                    <th>
                      <button   type="button" class="btn btn-outline-secondary" [routerLink]="['/updateRapport',rapport.id]">Modifier</button>
                      <button type="button" class="btn btn-outline-secondary" (click)="deleteRapport(rapport.id)"> Supprimer</button>
                  </th>

                </tr>
            </table>

            </div>
        </div>
      </div>
      </div>


  </section>

  <section class="bg-light" id="ajouter">
    <div style="background-color: bg-info"  >
      <div class="container" >
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-uppercase section-heading">Ajouter un Rapport</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <form #monFormulaire="ngForm">
                    <div class="form-row">
                        <div class="col-md-6">


                            <div class="form-group">
                              <label> Titre Du Rapport:</label>
                              <input ngModel class="form-control" type="text" id="titre"  name="titre" placeholder="titre du rapport*" required [(ngModel)]="rapportAdd.titre" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                              <div class="form-group">
                                <label> Type Du Rapport:</label>
                                <input ngModel class="form-control" type="text" id="type"  name="type" placeholder="type du rapport*" required [(ngModel)]="rapportAdd.type" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>


                                <div class="form-group">
                                  <label> Date Du Rapport:</label>
                                    <input ngModel class="form-control" type="date" id="date"  name="date" placeholder="date du rapport*" required [(ngModel)]="rapportAdd.Date" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
</div>
<div class="col-md-6">
                                    <div class="form-group">
                                  <label> Sujet Du Rapport:</label>
                                  <input ngModel class="form-control" type="text" id="sujet"  name="sujet" placeholder="sujet du rapport*" required [(ngModel)]="rapportAdd.sujet" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                              <div class="form-group">
                                <label> Contenu Du Rapport:</label>
                                <textarea ngModel class="form-control" type="text" id="contenu"  name="contenu" placeholder="contenu du rapport*" required [(ngModel)]="rapportAdd.contenu" ><small class="form-text text-danger flex-grow-1 help-block lead"></small> </textarea></div>


                                  <div class="form-group">
                                    <label> Support:</label> <br>
                                    <input ngModel type="file"  id="filePath"  name="filePath" placeholder="vous pouvez ajouter une fichier*" required [(ngModel)]="rapportAdd.filePath" (change)="readUrl($event)" />

                                    <small class="form-text text-danger flex-grow-1 help-block lead"></small></div>

                            </div>





                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button


                            (click)="createRapport()"
                             class="btn btn-warning btn-xl text-uppercase" type="submit">Ajouter</button>

                             <button
                             (click)="Annuler()"
                             class="btn btn-warning btn-xl text-uppercase" type="submit">Annuler</button>
                        </div>
                      </div>
                </form>
            </div>
        </div>
      </div>
      </div>


  </section>
